.container {
  display: flex;
  flex-wrap: wrap;
  width: 960px;
  margin: 0 auto;
}

.item {
  width: 280px;
  margin: 10px;
  padding: 0;
  /* borderとbgcolorを書くと要素の形が分かりやすい */
  border: 1px solid gray;
  background-color: azure;
}

.item img {
  width: 280px;
}

.item_name {
  padding: 10px;
  padding-bottom: 0;
  color: chocolate;
}
.item_price {
    padding: 10px;
    padding-top: 0;
}